// Import styles here
html, body {
  overflow: hidden
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;
  position: relative;
}

svg {
  position: absolute;
  shape-rendering: geometricPrecision;
}

path {
  stroke: white;
  stroke-width: 0px;
}

/* Classes */
.artist-text {
  dy: '.31em';/* // text anchor offset*/
  fill: white;
  font-size: '12px';
}